<!DOCTYPE html>
<html lang="en">
<head>
     
    <title>Document</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

 
<body>
   <div class="btn btn-success btn-block">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: blue;">
        <a class="navbar-brand" href="#">Hospital Managements</a>
        
        
        <div>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDoctor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Doctor
                </a>
 
              <div class="dropdown-menu" aria-labelledby="navbarDoctor">
                <a class="dropdown-item" href="Doctor">Add Doctor</a>
                <a class="dropdown-item" href="showdetails"> View Doctor</a>
 
              </div>
            </div>  
            
            <div>
              <a class="nav-link dropdown-toggle" href="#" id="navbarPatient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patient
               </a>
            
              <div class="dropdown-menu" aria-labelledby="navbarPatient">
                <a class="dropdown-item" href="Patient">Add Patient</a>
                <a class="dropdown-item" href="showPatient">View Patient</a>
              </div>
             </div>
            <div>
             
              <a class="nav-link dropdown-toggle" href="#" id="navbarAppointment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Appointment
               </a>
              
              <div class="dropdown-menu" aria-labelledby="navbarAppointment">
                <a class="dropdown-item" href="Appointment">Add Appointment</a>
                <a class="dropdown-item" href="showAppointment">View Appointment</a>
           
        </div>
        
        </div>
           
       <a href="logins" class="btn btn-primary">LogOut</a>
            
        
        
      </nav>
      
    </div>
</body>
</html>